In [ ]:
#Introducción
Platzi -Escuela de Ciencia de Datos 

*Unidad 1 Visualización de datos*

-----

La visualización de datos nos permite entender el valor de los datos, ver tendencias, encontrar patrones y sobre todo es cuando los datos nos hablan.

In [1]:
print("hi")

hi

# Llamar los datos

In [3]:
#Llamamos el set de datos público 
zoo_data = 'https://archive.ics.uci.edu/ml/machine-learning-databases/zoo/zoo.data'

# los nombres de las columnas se encuentran en :  'https://archive.ics.uci.edu/ml/machine-learning-databases/zoo/zoo.names'
zoo_name= ['animal name','hair','feathers','eggs','milk','airborne','aquatic','predator','toothed','backbone','breathes','venomous','fins','legs','tail','domestic',' cat-size','type']

In [4]:
import pandas as pd

In [5]:
data = pd.read_csv(zoo_data)

In [6]:
data.head()

,aardvark,1,0,0.1,1.1,0.2,0.3,1.2,1.3,1.4,1.5,0.4,0.5,4,0.6,0.7,1.6,1.7
0,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
1,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
2,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
3,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
4,buffalo,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1

In [7]:
data.columns=zoo_name

In [8]:
data.head()

,animal name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,cat-size,type
0,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
1,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
2,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
3,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
4,buffalo,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1

Gráficas básicas

In [12]:
#librerias de graficación más empleadas 
import plotly as plt 
import seaborn as sns

ModuleNotFoundError: No module named 'plotly'

In [16]:
import altair as alt

ModuleNotFoundError: No module named 'altair'

In [ ]:
data.plot()

In [ ]:
data.info()

In [ ]:
alt.Chart(data).mark_line().encode(
    x='animal name',
    y='legs'
)

In [ ]:
import plotly.express as px

In [ ]:
fig = px.pie(data, values='aquatic', names='animal name', title='Porcentaje de animales acuáticos') # gráfica de pie 
fig.show()

In [ ]:
sns.displot(data) #gráfica de barras

In [ ]:
sns.displot(data, x="airborne", kind="kde") # distribuciones

Para mayot infomacion de las librerias 

*  Altait = [link text](https://altair-viz.github.io/gallery/index.html#)
*   plotly = [link text](https://plotly.com/)
*   seaborn = [link text](https://seaborn.pydata.org/index.html)